@import 'tailwindcss';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    /* Font Setting */
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --color-primary-50: #f0fdf4;
    --color-primary-100: #dcfce7;
    --color-primary-200: #bbf7d0;
    --color-primary-300: #86efac;
    --color-primary-400: #4ade80;
    --color-primary-500: #22c55e; /* MAIN BRAND (Lebih cerah) */
    --color-primary-600: #16a34a; /* Hover State */
    --color-primary-700: #15803d;
    --color-primary-800: #166534;
    --color-primary-900: #14532d;
    --color-primary-950: #052e16;

    /* SECONDARY: Earth Gold (Tetap sama untuk aksen tanah) */
    --color-secondary-50: #faf9f5;
    --color-secondary-100: #f1eee4;
    --color-secondary-200: #e2dcc7;
    --color-secondary-300: #c9bf9e;
    --color-secondary-400: #b0a576;
    --color-secondary-500: #8f8454;
    --color-secondary-600: #756a44;
    --color-secondary-700: #5e5537;
    --color-secondary-800: #4c462f;
    --color-secondary-900: #3f3a28;
    --color-secondary-950: #221f15;
}

/* Konfigurasi Custom Dark Mode untuk Tailwind v4 */
@custom-variant dark (&:where(.dark, .dark *));
